In [1]:
import pandas as pd
import datetime
# from sqlalchemy import

In [2]:
tor_file = 'toronto.csv'
tor_df = pd.read_csv(tor_file)

In [3]:
tor_df.head()

,X,Y,Index_,event_unique_id,occurrencedate,reporteddate,premisetype,ucr_code,ucr_ext,offence,...,occurrencedayofyear,occurrencedayofweek,occurrencehour,MCI,Division,Hood_ID,Neighbourhood,Lat,Long,ObjectId
0,-79.343094,43.668449,214,GO-20141948968,2014-04-24T11:29:00.000Z,2014-04-24T12:46:00.000Z,Commercial,1610,200,Robbery - Mugging,...,114.0,Thursday,11,Robbery,D55,68,North Riverdale (68),43.668449,-79.343094,1
1,-79.507927,43.759285,215,GO-20141950728,2014-04-24T13:00:00.000Z,2014-04-24T15:58:00.000Z,House,2120,200,B&E,...,114.0,Thursday,13,Break and Enter,D31,24,Black Creek (24),43.759285,-79.507927,2
2,-79.501663,43.697552,216,GO-20141956416,2014-04-25T13:20:00.000Z,2014-04-25T13:52:00.000Z,Apartment,1430,100,Assault,...,115.0,Friday,13,Assault,D12,30,Brookhaven-Amesbury (30),43.697552,-79.501663,3
3,-79.571510,43.721703,217,GO-20141956867,2014-04-24T17:00:00.000Z,2014-04-25T10:30:00.000Z,Outside,1430,100,Assault,...,114.0,Thursday,17,Assault,D23,4,Rexdale-Kipling (4),43.721703,-79.571510,4
4,-79.503487,43.663891,218,GO-20141957505,2014-04-25T16:00:00.000Z,2014-04-25T16:15:00.000Z,Apartment,1430,100,Assault,...,115.0,Friday,16,Assault,D11,114,Lambton Baby Point (114),43.663891,-79.503487,5

In [5]:
tor_df1 = tor_df[['Index_', 'premisetype', 'offence', 'occurrenceyear', 'occurrencemonth', 'occurrenceday', 'occurrencedayofweek', 'occurrencehour', 'MCI', 'Neighbourhood']]
tor_df1.rename(columns={'Index_':'id'})
tor_df1.head()

,Index_,premisetype,offence,occurrenceyear,occurrencemonth,occurrenceday,occurrencedayofweek,occurrencehour,MCI,Neighbourhood
0,214,Commercial,Robbery - Mugging,2014.0,April,24.0,Thursday,11,Robbery,North Riverdale (68)
1,215,House,B&E,2014.0,April,24.0,Thursday,13,Break and Enter,Black Creek (24)
2,216,Apartment,Assault,2014.0,April,25.0,Friday,13,Assault,Brookhaven-Amesbury (30)
3,217,Outside,Assault,2014.0,April,24.0,Thursday,17,Assault,Rexdale-Kipling (4)
4,218,Apartment,Assault,2014.0,April,25.0,Friday,16,Assault,Lambton Baby Point (114)

In [6]:
tor_df1['date']=tor_df1.datetime.date(tor_df1['occurenceyear'],tor_df1['occurencemonth'], tor_df1['occurenceday'])
tor_df1.head()

AttributeError: 'DataFrame' object has no attribute 'datetime'